*.iml
.gradle
/CentenarGO_Android_Client/local.properties
/CentenarGO_Android_Client/.idea/workspace.xml
/CentenarGO_Android_Client/.idea/libraries
.DS_Store
/CentenarGO_Android_Client/build
/CentenarGO_Android_Client/captures
/CentenarGO_Android_Client/.externalNativeBuild
/CentenarGO_Server/node_modules